.container{
    font-family: Poppins;
}

.bg1{
    background-image: url("bg-1.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

.block{
    background-image: url("bg-2.png");
    background-position: left bottom;
    background-size: 100px;
    background-repeat: no-repeat;
}

.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

#highlight{
    font-size: 10px;
    color: #707070;
    opacity: 1;
}

h1 {
    font-size: 30px;
}

h3{
    text-align: center;
    margin-bottom: 50px;
}

h5{
    text-align: center;
}

.carousel-item{
    padding: 20px 40px;
}

#Mackbook_Pro {
    width: 292px;
    white-space: nowrap;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    color: rgba(31,31,31,1);
}

#highlight {
    overflow: hidden;
    width: 450px;
    height: 127px;
    line-height: 25px;
    margin-bottom: -20px;
    margin-top: -5px;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(112,112,112,1);
}

.phones, .laptop, .categories{
    margin-top: 150px;
    margin-bottom: 100px;
}

.card-text{
    color: #707070;
    font: normal normal 300 16px/30px Poppins;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 15px;
}

.bd-highlight{
    margin-top: 10px;
    color: #FF9D00;
    cursor: pointer;
}
.p-1{
    margin-bottom: 30px;
    font-size: 35px;
}

.card-img-top2{
   width: 80px;
   margin-top: 50px;
   margin-left: 60px;
}

.bag{
    margin-top: 100px;
}

.shoe{
    margin-top: 20px;
}

.category-img{
    width: 500px;
    margin-left: -20px;
}